/* Dark theme for the Projects section */
.projects-section {
    background-color: #1e1e1e;
    padding: 4rem 2rem;
    color: #f1f1f1;
    scroll-margin-top: 100px;
    text-align: center;
}

/* Title styling for "Some of our Projects" */
.projects-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    background-color: #2a2a2a;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(33.33% - 2rem); /* Default to 3 columns on large screens */
    max-width: calc(33.33% - 2rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.project-info {
    padding: 1rem;
    flex-grow: 1;
}

.project-info h3 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-info p {
    color: #b0b0b0;
    font-size: 1rem;
}

.project-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-bottom: 1px solid #333;
    transition: transform 0.3s ease;
}

.project-card:hover .project-image {
    transform: scale(1.05);
}


/* Responsive Design */
@media (max-width: 1024px) {
    .project-card {
        flex: 1 1 calc(50% - 2rem); /* Switch to 2 columns on medium screens */
        max-width: calc(50% - 2rem);
    }
}

@media (max-width: 768px) {
    .project-card {
        flex: 1 1 calc(100% - 2rem); /* Switch to 1 column on small screens */
        max-width: calc(100% - 2rem);
    }
}

/* Dark theme for Meet the Team section */
.meet-the-team-section {
    background-color: #1e1e1e;
    text-align: center;
    padding: 4rem 2rem;
    color: #f1f1f1;
}

/* Title styling for "Meet the Team" */
.meet-team-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.team-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px; /* Set a max-width to limit image size */
    margin: 0 auto;
}

.team-image {
    width: 100%;
    max-width: 100%;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments for the team image */
@media (max-width: 768px) {
    .team-image-container {
        padding: 1rem;
    }

    .team-image {
        width: 100%;
        max-width: 90%; /* Reduce the size of the team image on smaller screens */
        border-radius: 20px;
    }
}

@media (max-width: 480px) {
    .meet-team-title {
        font-size: 1.8rem;
    }

    .team-image {
        width: 100%;
        max-width: 100%;
        border-radius: 15px;
    }
}

